<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form>
                <h2 class="mb-4" style="font-family: 'cursive';">ADD CUSTOMER DETAILS</h2>


                <div class="mb-3">
                    <label for="id" class="form-label">ID</label>
                    <span class="error-msg-span">{{validationMessage.id}}</span>
                    <input type="text" class="form-control" id="id" [(ngModel)]="detailsDTO.id" name="id" required>
                </div>

                <div class="mb-3">
                    <label for="Title" class="form-label">Name</label>
                    <span class="error-msg-span">{{validationMessage.name}}</span>
                    <input type="text" class="form-control"  id="name" [(ngModel)]="detailsDTO.name" name="name" required>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <span class="error-msg-span">{{validationMessage.email}}</span>
                    <input type="text" class="form-control" id="email" [(ngModel)]="detailsDTO.email" name="email" required>
                </div>

                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <span class="error-msg-span">{{validationMessage.phonenumber}}</span>
                    <input type="text" class="form-control" id="number" [(ngModel)]="detailsDTO.phonenumber" name="number" required>
                </div>

                <div class="mb-3">
                    <label for="date" class="form-label">Date of Birth</label>
                    <span class="error-msg-span">{{validationMessage.dob}}</span>
                    <input type="date" class="form-control" id="date" [(ngModel)]="detailsDTO.dob" name="date" required>
                </div>

                <div class="mb-3">
                    <label for="blood" class="form-label">Blood Group</label>
                    <span class="error-msg-span">{{ validationMessage.blood }}</span>
                    <select class="form-control" id="blood" [(ngModel)]="detailsDTO.blood" name="blood" required>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="AB">AB</option>
                        <option value="O">O</option>
                        <option value="A-">A-</option>
                        <option value="B-">B-</option>
                        <option value="AB-">AB-</option>
                        <option value="O-">O-</option>
                    </select>
                </div>

                

                <button type="submit" class="btn btn-primary" (click)="addmodal()">Add Coustomer</button>
                <button type="submit" class="btn btn-primary" (click)="back()">Back to Details</button>
                <button type="submit" class="btn btn-primary" (click)="clear()">Clear</button>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="static" id="adduser-confirmation-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirm to Add User</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p> Click to Add the user</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary action-btn float-right" data-dismiss="modal" (click)="cancelConfirmation()">Cancel</button>
           <button type="button" class="btn btn-primary action-btn float-right" (click)="add()">Yes</button>
        </div>
      </div>
      <!-- /.modal-content -->
</div>